@import 'bootstrap/dist/css/bootstrap';

.search-area {
    padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.alert {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 400px;
}